[submodule "pack/git/opt/vim-xtabline"]
	path = pack/git/opt/vim-xtabline
	url = https://github.com/mg979/vim-xtabline.git
[submodule "pack/git/opt/vim-macaw"]
	path = pack/git/opt/vim-macaw
	url = https://github.com/urbainvaes/vim-macaw.git
[submodule "pack/git/opt/vim-cpp-modern"]
	path = pack/git/opt/vim-cpp-modern
	url = https://github.com/bfrg/vim-cpp-modern.git
